<a href="https://colab.research.google.com/github/vishakhakumari0598/Copy_of_Copy_of_EDA_CAPSTONE_PROJECT.ipynb/blob/main/NETFLIX_MOVIES_AND_TV_SHOWS_CLUSTERING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NETFLIX MOVIES AND TV SHOWS CLUSTERING** - Unsupervised ML Capstone Project

![image.png]()

# **Problem Statement**

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

In 2018, they released an interesting report which shows that the number of TV shows on Netflix has nearly tripled since 2010. The streaming serviceâ€™s number of movies has decreased by more than 2,000 titles since 2010, while its number of TV shows has nearly tripled. It will be interesting to explore what all other insights can be obtained from the same dataset.

Integrating this dataset with other external datasets such as IMDB ratings, rotten tomatoes can also provide many interesting findings.

## <b>In this  project, you are required to do </b>
1. Exploratory Data Analysis 

2. Understanding what type content is available in different countries

3. Is Netflix has increasingly focusing on TV rather than movies in recent years.
4. Clustering similar content by matching text-based features

# **Attribute Information**

1. show_id : Unique ID for every Movie / Tv Show

2. type : Identifier - A Movie or TV Show

3. title : Title of the Movie / Tv Show

4. director : Director of the Movie

5. cast : Actors involved in the movie / show

6. country : Country where the movie / show was produced

7. date_added : Date it was added on Netflix

8. release_year : Actual Releaseyear of the movie / show

9. rating : TV Rating of the movie / show

10. duration : Total Duration - in minutes or number of seasons

11. listed_in : Genere

12. description: The Summary description

# **1. Exploratory Data Analysis**

## **Understanding Dataset**

**Importing Libraries**

In [ ]:
# here we will import the libraries used for machine learning
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from scipy.stats import randint
import pandas as pd # data processing, CSV file I/O, data manipulation 
import matplotlib.pyplot as plt # this is used for the plot the graph 
import seaborn as sns # used for plot interactive graph. 
from pandas import set_option
plt.style.use('ggplot') # nice plots
from matplotlib.pyplot import figure

**sklearn**

In [ ]:
from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, KFold
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer

from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples
import scipy.cluster.hierarchy as sch


import warnings
warnings.filterwarnings('ignore')

In [ ]:
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

**Mounting google drive**

In [ ]:
# Mounting google drive
from google.colab import drive
drive.mount('/content/drive')

**Loading our dataset**

In [ ]:
# Loading our dataset from gogle drive and creating a pandas dataframe
df = pd.read_csv("/content/drive/MyDrive/NETFLIX MOVIES AND TV SHOWS CLUSTERING.csv")

In [ ]:
# Exploring first 5 rows for better understanding of data
df.head()

In [ ]:
# Curiously exploring last 5 rows of dataset using tail()
df.tail()

Exploring features name

In [ ]:
# Getting feature names
df.columns

In [ ]:
# Looking for total no. of observations and features
df.shape

We have around 7787 rows of records and 12 features.

In [ ]:
# Checking info our dataset
df.info()

Here we can see that most of data in object format.

And there are some features are missing some of the records.

## **Data Cleaning**

**Missing values**

In [ ]:
# looking out exact missing values in our dataset in every features using isnull()
df.isnull().sum().sort_values(ascending=False)[:6]

We have 5 following features having missing values
1. director
2. cast
3. country
4. date_added
5. rating

**Duplicated Values**

In [ ]:
# we will use duplicated for checking duplicate values 
df.duplicated().sum()

**Making a copy of our dataframe for further operations**

In [ ]:
#creating copy of dataset before working with it so that we can have original data untouched
df_1 = df.copy()

**Filling null values with "unknown"**

In [ ]:
# Filling all the missing values with unknown
df_1.fillna("Unknown",inplace=True)

In [ ]:
# checking again after filling null values
df_1.isnull().sum()

we have filled missing values with **unknown.**

### **Descriptive Staistics**

In [ ]:
# we will check numerical columns
df_1.describe()

NameError: ignored

We can say very old content on netflix was released in 1925, most of the content released in 2017.

In [ ]:
# Checking data types again
df_1.dtypes

## **Data Visualization**

### **Some Feature Engineering required For Data Visualization**

converting date_added column datatype to datetime

In [ ]:
# Getting records from date_added column excluding 'unknown'
df_1 = df_1.loc[df_1['date_added']!= 'Unknown']

checking shape again

In [ ]:
df_1.shape

In [ ]:
# converting date_added column to datetime
df_1['date_added'] = pd.to_datetime(df_1['date_added'])

In [ ]:
# Crosschecking
df_1.info()

our date_added column successfully converted into datetime type

Now we will extract Year, month and date from date_added column and create seperate columns for each for ease of operations.

In [ ]:
# Creating 'year' column
df_1['added_year'] = df_1['date_added'].dt.year

In [ ]:
# month
df_1['added_month'] = df_1['date_added'].dt.month

In [ ]:
# day
df_1['added_day'] = df_1['date_added'].dt.day

renaming **'listed_in'** column to **'genres'.**

In [ ]:
# first we rename the column for sake of simplicity
df_1.rename(columns={'listed_in':'genres'},inplace=True)

we will drop column 'date_added' as we create seperate columns for it according to year and month

In [ ]:
# Dropping 'date_added' as we create seperate columns
df_1.drop(columns="date_added",axis=1,inplace=True)

Lets check all is going well or not...?

In [ ]:
# Checking first 5 rows of our dataset 
df_1.head()

Okay till here everything is going good.....!

## **Univariate Analysis**

Type of show means movies/TV shows

In [ ]:
# checking how many tv shows and movies are there  
df_1['type'].value_counts()

In [ ]:
# Pie chart for type of shows
plt.figure(figsize=(5,5))
df_1['type'].value_counts().plot(kind='pie',autopct ='%0.1f%%')
plt.title('Percentage of most preferred Show ');

**In our dataset we have around 69% content as movies and remaining 31% as TV shows.**

**Here we have more numberes of Movies than TV shows**

## **Genres**

In [ ]:
# Copying main dataframe for exploring genres
genres_explore = df_1.copy()

In [ ]:
# we will split genres column
genres_explore = pd.concat([genres_explore, df_1["genres"].str.split(",", expand = True)], axis = 1)

In [ ]:
# Melting the required features
genres_explore = genres_explore.melt(id_vars = ['type','title'], value_vars=range(3),value_name="genres")
genres_explore = genres_explore[genres_explore['genres'].notna()]
genres_explore

In [ ]:
# counting top 30 genres by occurence
genres_explore['genres'].value_counts()[:30]

In [ ]:
# Stripping the equired records
genres_explore['genres']=genres_explore['genres'].str.strip()
genres_explore['genres'].value_counts()[:20]

### **Top 20 Genres**

In [ ]:
# Plotting a barplot for getting top 20 genres
plt.figure(figsize = (20, 8))
listed_in = genres_explore["genres"].value_counts()[:20]
sns.barplot(y = listed_in, x = listed_in.index, palette='rocket')
plt.xticks(rotation=90)

Here **'International Movies'** are the top most occured genres with around **2400** times occured, followed by **'Dramas'** and **'Comedies'** with approximately **2100** and **1500** respectively.

In [ ]:
# creating another dataframe for plotting genres treemap
df_genre = pd.DataFrame(genres_explore.genres.value_counts()).reset_index().rename(columns={'index':'genre', 'genres':'count'})

In [ ]:
# Plotting a Treemap using plotly
fig_tree = px.treemap(df_genre, path=[px.Constant("Distribution of Geners"), 'count','genre'])
fig_tree.update_layout(title='Highest watched Geners on Netflix',                
         hoverlabel=dict(bgcolor="#444", font_size=13, font_family="Lato, sans-serif"))

In above treemap we can spot that **'International Movies', 'Dramas', 'Comedies', 'International TV shows', 'Documentries', 'Action & Adventures', 'TV Dramas', 'Independent Movies', 'Children and Family Movies'** are top genres.

**'classic and cult tv', 'TV thrillers', Anime Features', 'Faith & Spirituality'** are very lesser in numbers.

**Getting column names for further operations**

In [ ]:
df_1.columns

## **Content Addition**

**Monthwise content addition**

In [ ]:
# counting no. of contents added every month
df_1.added_month.value_counts()

In [ ]:
# Plotting a countplot for getting better insights from monthwise addition
plt.figure(figsize=(10,8))
sns.countplot(x='added_month',hue='type',data=df_1,palette = 'mako')
plt.title("Monthwise content addition")

we can clearly see that on **"January"**, **"October"** and in **"December"** there is more content added on netflix.

And in **"February"** very less amount of content added.

**Plotting Bar chart for checking how many movies/shows added on an avergae on days of evrey month**

In [ ]:
plt.figure(figsize=(18,8))
sns.countplot(x='added_day',hue='type',data=df_1,palette = "Dark2")
plt.xlabel('Days')
plt.ylabel('Total no. of Movies/TV shows added')
plt.title("Daywise content addition")

we can clearly spot the insights that netflix majorly add the content on the **1st day of every month**.

And there is another day which is **15th**, mid of the month which has second highest number of contents added on it.

## **Ratings**

### **Netflix Rating of Movies/TV Shows based on content:-**

**TV-MA** :for Mature Audiences

**R** : Restricted

**PG-13** : Parents strongly cautioned. May be Inappropriate for ages 12 and under

**TV-14** : Parents strongly cautioned. May not be suitable for ages 14 and under

**TV-PG** : Parental Guidance suggested

**NR** : Not Rated

**TV-G** : Suitable for General Audiences

**TV-Y** : Designed to be appropriate for all children

**PG** : Parental Guidance suggested

**G** : Suitable for General Audiences

**NC-17** : the content isn't suitable for children under 17 and younger

**TV-Y7-FV** : Suitable for ages 7 and up

**UR** : Unrated

In [ ]:
# counting all type ratings
df_1.rating.value_counts().reset_index().rename(columns={'index':'Rating','rating':'Count'})

### **Rating Countplot**

In [ ]:
# Plotting a countplot to get in depth analysis from ratings
plt.figure(figsize=(15,8))
sns.countplot(x='rating',hue='type',data=df_1,palette = "Dark2")
plt.xlabel('Rating')
plt.ylabel('Total no. of Movies/TV shows')
plt.title("Movies/TV shows - Rating wise")

Here we can see that most content for **mature adults (TV-MA)** is more in both TV shows and Movies.

Then for **Under 14** which is **TV-14** is second highest in number, in which **parents are strongly cautioned.**

**G** rating which means **suitable for general audience** is rated to **very very less number of content**, which means there is **very less content which can suitable for everyone**.

## **Text Visualization**

We will work on Description column

In [ ]:
import nltk
nltk.download('stopwords')

In [ ]:
stop_words = nltk.corpus.stopwords.words('english')
print(stop_words)

We will define a function to remove stop words

In [ ]:
def delete_stopwords(description):
    '''
    This is function which will take the text data as input and delets the stopwords from it.
    '''
    
    # We will use a list comprehension 
    clean_text = [i.lower() for i in description.split() if i.lower() not in stop_words]
    # joining the list of words with space separator
    return " ".join(clean_text)

### **Cleaning Text**

In [ ]:
# Now we will apply this function our 'Description' column

df_1['description']=df_1['description'].apply(delete_stopwords)
df_1['description'][0:2]

okay, now we will remove punctuations

importing string

In [ ]:
import string

In [ ]:
# Defining a function to remove the punctuation
def remove_punctuations(text):
    '''
    This function takes input text and removes punctuation marks from it
    '''
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [ ]:
# Now we will apply this function on 'Description' column
df_1['description']=df_1['description'].apply(remove_punctuations)

We removed the punctuation marks from decription column, now we will once check by calling some of the top rows

In [ ]:
df_1['description'][0:6]

Now we will remove punctuations and stop_words from 'genres' column

In [ ]:
# we will use count vectorizer
count_vectorizer = CountVectorizer()
count_vectorizer.fit(df_1['description'])
word_count = count_vectorizer.vocabulary_.items()

In [ ]:
# we will make a list of word count
list_words = list(word_count)

We will now arrange the words with their occurences

In [ ]:
# We will store the words and their counts in respective lists
words = []
counts = []
for key, value in word_count:
  words.append(key)
  counts.append(value)

In [ ]:
# creating a dataframe for word counts
vocabulary = pd.DataFrame({"words":words,"counts":counts})
vocabulary = vocabulary.sort_values("counts",ascending=False)
vocabulary

In [ ]:
# Resetting index and droping index column
vocabulary.reset_index(inplace=True)
vocabulary.drop(columns={"index"},inplace=True)

**Top 10 most occured words**

In [ ]:
vocabulary[0:10]

we will plot top 10 most occured words

In [ ]:
top_10 = vocabulary.head(10)
top_10_words = top_10.words.values
top_10_word_count = top_10.counts.values

In [ ]:
# array of top 10 words
top_10_words

In [ ]:
# count of top 10 words
top_10_word_count

In [ ]:
# Horizontal bar plot of top 10 most occured bar plot
plt.figure( figsize = ( 16,6 ))
plt.xlim(19600,19650,)
plt.barh(top_10_words , top_10_word_count )

### **Stemming**

As we can see that most words are from other langauges than english we will use **Snowball stemmer** -

The Snowball Stemmer can map non-English words too. Since it supports other languages the Snowball Stemmers can be called a multi-lingual stemmer.

In [ ]:
# Stemming
stemming = SnowballStemmer("english")

In [ ]:
# Defining a function for splitting the strings in description column and applying stemming on words and then joining them
def stemming_words(description):    
    '''a function which stems each word in the given text'''
    description = [stemming.stem(word) for word in description.split()]
    return " ".join(description)

In [ ]:
# Applying stemming function which is defined above on description column
df_1['description'] = df_1['description'].apply(stemming_words)

In [ ]:
# Create the object of tfid vectorizer
tfid_vectorizer = TfidfVectorizer()

# Fit the vectorizer using the text data
tfid_vectorizer.fit(df_1['description'])

# Collect the vocabulary items used in the vectorizer
vocabulary_1 = tfid_vectorizer.vocabulary_.items()

In [ ]:
# Lists to store the vocab and counts
words_1 = []
count_of_words = []
# Iterate through each vocab and count append the value to designated lists
for key, value in vocabulary_1:
    words_1.append(key)
    count_of_words.append(value)

**Words after stemming**

In [ ]:
# Creating a dataframe of words after stemming
words_after_stemming = pd.DataFrame({"Word":words_1,
                                     "Count":count_of_words})
words_after_stemming = words_after_stemming.sort_values("Count",ascending=False)

In [ ]:
# Exploring top 10 most occured words in description column after stemming
top10_words_after_stemming = words_after_stemming.head(10)

In [ ]:
top10_most_occured_stemmed_words = top10_words_after_stemming.Word.values
top10_count_of_most_occured_stemmed_words = top10_words_after_stemming.Count.values

In [ ]:
top10_count_of_most_occured_stemmed_words

**Top 10 most occured words after stemming**

In [ ]:
# plotting a horizontal bar chart
plt.figure( figsize = ( 16,6 ))
plt.xlim(14250, 14300)
plt.barh(top10_most_occured_stemmed_words , top10_count_of_most_occured_stemmed_words )

**In above bar chart we can see that most occured words are non-english.**

# **Multivariate Analysis**

# **2. Understanding what type content is available in different countries**

### **Exploring Countries**

In [ ]:
# Creating a different country dataframe
country_count = df_1.copy()
country_count = pd.concat([country_count , df_1['country'].str.split(",",expand=True)],axis=1)

**splitting country columns as single observation contains multiple country names**

In [ ]:
# stripping of the country column
country_count["country"] = country_count["country"].str.strip()

In [ ]:
top_20_countries= country_count["country"].value_counts()[:20].reset_index().rename(columns={'index':'country','country':'count'})

**counting occurences of countries**

In [ ]:
# counting occurences of countries by using value_counts
df['country'].value_counts()[:20]

In [ ]:
plt.figure( figsize = ( 12,50 ))
top_20_countries.plot(x="country", y="count", kind="bar")

### **Ratings VS Countries**

In [ ]:
# defining a function
def barplot_rating(country_name):
  '''
  it will take a country name and return the rating count
  '''
  plt.figure(figsize=(8,6))
  from seaborn.categorical import countplot
  sns.set_theme(style="darkgrid")
  ax = sns.countplot(x='rating',data=country_count[country_count['country']==country_name])
  ax.set_title(country_name)

**Plotting the countplot for raings in top 20 countried**

In [ ]:
# Converting country names to list using tolist
list_top20_countries = top_20_countries['country'].tolist()

In [ ]:
# Getting the country names one by one
for country_name in list_top20_countries:
  barplot_rating(country_name)

Here we can say that shows with **TV-MA** rating are highest in **Belgium, Brazil, Italy, Turkey, Australia, Mexico, Germany, South korea, Spain, Japan, France, Canada, United Kingdom, United States**

**India, China, Egypt, Hongkong and Taiwan** has higest number shows rated as **TV-14**

## **3.Is Netflix has increasingly focusing on TV rather than movies in recent years ??**

**Netflix's focus in recent years**

In [ ]:
# Plotting a countplot
plt.figure(figsize=(15,8))
sns.countplot(x='added_year',hue='type',data=df_1,palette = "Dark2")
plt.title("Recent year Netflix's Uploads")

From above countplot we can clealry see that from 2017 number of Movies added increased tremendously, but at the same time TV shows added from 2017 are also increased but as comparison to Movies they are very less in numbers.

## **4. Clustering similar content by matching text-based features**

### **Feature Engineering**

we will add all text based or categorical columns

In [ ]:
# We will add all categorical and text based columns
df_1['text_info'] = df_1['description'] + ' '+ df_1['genres'] + ' ' + df_1['rating'] + ' '+ df_1['country']+ ' ' + df_1['title'] + ' '+ df_1['director'] + ' ' + df_1['cast']

In [ ]:
# Checking 
df_1['text_info'][0]

**Text cleaning**

In [ ]:
#text cleaning function
import re
def clean_text(x):
    return re.sub(r"[^a-zA-Z ]","",str(x))

In [ ]:
# Applying above function on our combined column
df_1['text_info'] = df_1['text_info'].apply(clean_text)

In [ ]:
# we will convert all words in lowercase
df_1['text_info'] = df_1['text_info'].str.lower()

In [ ]:
#necessary import for nlp
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.snowball import SnowballStemmer
nltk.download('punkt')

**Stemming-**

In [ ]:
#stemming
stemmer = SnowballStemmer('english')
stop_words = set(stopwords.words('english'))

In [ ]:
# defining a function to filter the words
def filter_words(string, filter_words):
  filtered=[]
  tokens = word_tokenize(string)
  for word in tokens:
    if word not in filter_words:
      filtered.append(stemmer.stem(word))
  return filtered

df_1['cleaned_text']= ''
for item, row in df_1.iterrows():
  df_1.at[item,'cleaned_text'] = filter_words(row['text_info'],stop_words)

df_1['cleaned_text']

In [ ]:
#join words fun
def join_words(x):
  return " ".join(x)

In [ ]:
#final column
df_1['cleaned_text'] = df_1['cleaned_text'].apply(join_words)

In [ ]:
words = df_1.cleaned_text

## **TF-IDF**

**Term frequency-inverse document frequency is a text vectorizer that transforms the text into a usable vector.** 

**TF** - The term frequency is the number of occurrences of a specific term in a document. Term frequency indicates how important a specific term in a document. Term frequency represents every text from the data as a matrix whose rows are the number of documents and columns are the number of distinct terms throughout all documents.

**IDF** - Document frequency is the number of documents containing a specific term. Document frequency indicates how common the term is.Inverse document frequency (IDF) is the weight of a term, it aims to reduce the weight of a term if the termâ€™s occurrences are scattered throughout all the documents.

In [ ]:
#using tfidf
from sklearn.feature_extraction.text import TfidfVectorizer
t_vectorizer = TfidfVectorizer(max_df = 0.9,min_df = 1, max_features=15000)
X= t_vectorizer.fit_transform(words)

In [ ]:
X

### **Applying PCA-Principal Component Analysis to reduce dimensions.**

**PCA- Pricipal Component Analysis**

Principal Component Analysis is an unsupervised learning algorithm that is used for the dimensionality reduction in machine learning. It is a statistical process that converts the observations of correlated features into a set of linearly uncorrelated features with the help of orthogonal transformation.

It is a technique to draw strong patterns from the given dataset by reducing the variances.

PCA generally tries to find the lower-dimensional surface to project the high-dimensional data.

In [ ]:
#PCA Code
import numpy as np
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
transformer = PCA()
transformer.fit(X.toarray())

### **Cumulative Explained Variance**

In [ ]:
 #explained var v/s comp
plt.plot(np.cumsum(transformer.explained_variance_ratio_))
plt.xlabel('number of components')
plt.ylabel('cumulative explained variance')

**here we can clearly spot that 80% variance is explained by 3000 components only.**

We will use 3000 components

In [ ]:
#choosing right dim from plot, this might take a while, for ready ans use n_components = 3000
from sklearn.decomposition import PCA
transformer = PCA(n_components=3000)
transformer.fit(X.toarray())
X_transformed = transformer.transform(X.toarray())
X_transformed.shape

In [ ]:
# vectorizing the test and train
X_vectorized = t_vectorizer.transform(words)

In [ ]:
#applying pca
X= transformer.transform(X_vectorized.toarray())

In [ ]:
X

# **KMeans Clustering**

K-Means Clustering is an Unsupervised Learning algorithm, which groups the unlabeled dataset into different clusters.

It is an iterative algorithm that divides the unlabeled dataset into k different clusters in such a way that each dataset belongs only one group that has similar properties.

It is a centroid-based algorithm, where each cluster is associated with a centroid. The main aim of this algorithm is to minimize the sum of distances between the data point and their corresponding clusters.

**Silhouette Score Elbow for KMeans Clustering**

In [ ]:
from sklearn.cluster import KMeans

from yellowbrick.cluster import KElbowVisualizer


# Instantiate the clustering model and visualizer
model = KMeans()
visualizer = KElbowVisualizer(
    model, k=(4,22), metric='silhouette', timings=False
)

visualizer.fit(X)        # Fit the data to the visualizer
visualizer.show()

### **Elbow Method to get number of clusters**

The K-Elbow Visualizer implements the â€œelbowâ€ method of selecting the optimal number of clusters for K-means clustering.

The elbow method runs k-means clustering on the dataset for a range of values for k (say from 1-10) and then for each value of k computes an average score for all clusters. By default, the distortion score is computed, the sum of square distances from each point to its assigned center.

When these overall metrics for each model are plotted, it is possible to visually determine the best value for k. If the line chart looks like an arm, then the â€œelbowâ€ (the point of inflection on the curve) is the best value of k. The â€œarmâ€ can be either up or down, but if there is a strong inflection point, it is a good indication that the underlying model fits best at that point.

In [ ]:
# We will plot the graph to get the no. of clusters
wcss = []
for i in range(1, 22):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 22), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

**we will take no. of clusters as 15**

### **Model fitting**

In [ ]:
# fitting the k means algorithm on lower features

kmeans= KMeans(n_clusters=15, init= 'k-means++',max_iter=300, n_init=1)
kmeans.fit(X)

**calculating silhouette score**

In [ ]:
from sklearn.metrics import silhouette_score
print("Silhouette Coefficient:  %0.3f"%silhouette_score(X, kmeans.labels_))

**Predicting**

In [ ]:
#predict the labels of clusters.
label = kmeans.fit_predict(X)

In [ ]:
#Getting unique labels
u_labels = np.unique(label)
 
#plotting the results:
for i in u_labels:
    plt.scatter(X[label == i , 0] , X[label == i , 1] , label = i)
plt.rcParams["figure.figsize"] = (20,8)
plt.legend()
plt.show()

**we now assign our clusters in our dataset by creating a new column "clusters"**

In [ ]:
# Assigning clusters to our data
df_1['clusters'] = kmeans.labels_

In [ ]:
# checking how it is working
df_1.head()

**Counting Movies/TV shows assigned to each cluster**

In [ ]:
# COunting content in each cluster
cluster_content_count = df_1['clusters'].value_counts().reset_index().rename(columns={'index':'clusters','clusters':'Movies/TV_Shows'})
cluster_content_count

### **Silhouette Score -**
Silhouette analysis can be used to study the separation distance between the resulting clusters. The silhouette plot displays a measure of how close each point in one cluster is to points in the neighboring clusters and thus provides a way to assess parameters like number of clusters visually. This measure has a range of [-1, 1].

In [ ]:
import matplotlib.cm as cm

In [ ]:
range_n_clusters = [i for i in range(2,16)]

for n_clusters in range_n_clusters:
    # Create a subplot with 1 row and 2 columns
    fig, (ax1, ax2) = plt.subplots(1, 2)
    fig.set_size_inches(18, 7)

    # The 1st subplot is the silhouette plot
    # The silhouette coefficient can range from -1, 1 but in this example all
    # lie within [-0.1, 1]
    ax1.set_xlim([-0.1, 1])
    # The (n_clusters+1)*10 is for inserting blank space between silhouette
    # plots of individual clusters, to demarcate them clearly.
    ax1.set_ylim([0, len(X) + (n_clusters + 1) * 10])

    # Initialize the clusterer with n_clusters value and a random generator
    # seed of 10 for reproducibility.
    clusterer = KMeans(n_clusters=n_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(X)

    # The silhouette_score gives the average value for all the samples.
    # This gives a perspective into the density and separation of the formed
    # clusters
    silhouette_avg = silhouette_score(X, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg)

    # Compute the silhouette scores for each sample
    sample_silhouette_values = silhouette_samples(X, cluster_labels)

    y_lower = 10
    for i in range(n_clusters):
        # Aggregate the silhouette scores for samples belonging to
        # cluster i, and sort them
        ith_cluster_silhouette_values = \
            sample_silhouette_values[cluster_labels == i]

        ith_cluster_silhouette_values.sort()

        size_cluster_i = ith_cluster_silhouette_values.shape[0]
        y_upper = y_lower + size_cluster_i

        color = cm.nipy_spectral(float(i) / n_clusters)
        ax1.fill_betweenx(np.arange(y_lower, y_upper),
                          0, ith_cluster_silhouette_values,
                          facecolor=color, edgecolor=color, alpha=0.7)

        # Label the silhouette plots with their cluster numbers at the middle
        ax1.text(-0.05, y_lower + 0.5 * size_cluster_i, str(i))

        # Compute the new y_lower for next plot
        y_lower = y_upper + 10  # 10 for the 0 samples

    ax1.set_title("The silhouette plot for the various clusters.")
    ax1.set_xlabel("The silhouette coefficient values")
    ax1.set_ylabel("Cluster label")

    # The vertical line for average silhouette score of all the values
    ax1.axvline(x=silhouette_avg, color="red", linestyle="--")

    ax1.set_yticks([])  # Clear the yaxis labels / ticks
    ax1.set_xticks([-0.1, 0, 0.2, 0.4, 0.6, 0.8, 1])

    # 2nd Plot showing the actual clusters formed
    colors = cm.nipy_spectral(cluster_labels.astype(float) /n_clusters)
    ax2.scatter(X[:, 0], X[:, 1], marker='.', s=30, lw=0, alpha=0.7,
                c=colors, edgecolor='k')

    # Labeling the clusters
    centers = clusterer.cluster_centers_
    # Draw white circles at cluster centers
    ax2.scatter(centers[:, 0], centers[:, 1], marker='o',
                c="white", alpha=1, s=200, edgecolor='k')

    for i, c in enumerate(centers):
        ax2.scatter(c[0], c[1], marker='$%d$' % i, alpha=1,
                    s=50, edgecolor='k')

    ax2.set_title("The visualization of the clustered data.")
    ax2.set_xlabel("Feature space for the 1st feature")
    ax2.set_ylabel("Feature space for the 2nd feature")
    plt.suptitle(("Silhouette analysis for KMeans clustering on sample data "
                  "with n_clusters = %d" % n_clusters),
                 fontsize=14, fontweight='bold')

plt.show()

**we selected number of clusters as 15 which in above calculations showing 0.00708 as silhouette score.**

# **Conclusion**

**1. In cumulative explained variance graph we got 80% of variance captured by 3000 components only, thats why we selected no. of components as 3000.**

**2. We selected no. of clusters as 15 from Elbow method.**

**3. Calculated silhouette score for 15 no. of clusters which was showing 0.008**

**4. Then we applied KMeans on our data and then we predict the labels.**

**5. we plotte word cloud for each cluster so that we can visualize the summary of each cluster.**

**6. Then we plotted average silhouette score for clusters ranging from 2 to 16, and in that we get silhouette score 0.00708 for cluster=15 which is pretty close to earlier we calculated.**

# **Limitations**

**1. As the number of dimensions increases, a distance-based similarity measure converges to a constant value between any feature.**

**2. Centroids can be dragged by outliers, or outliers might get their own cluster instead of being ignored.**

**3. More Computational power required.**

**4. k-means has trouble clustering data where clusters are of varying sizes and density.**

# **Future Scope**

**1. With more computational power can work on more data.**

**2. Can apply different clustering algorithms.**

# **Thank You**